extends ../_layout/main

block config
  - const title = 'Contact'
  - const description = 'Reach out to Daniel Varvara'
  
block welcome
  .welcome
    h1=title
    p.lead=description
    include ../_component/continue/continue
    
block content
  h2 Contact Information
  p You can find me on these social media platforms:
  ul
    li #[+link({link: 'https://www.facebook.com/Searath', text: 'Facebook', title: 'Click to go to Facebook'})]
    li #[+link({link: 'https://www.linkedin.com/in/danielvarvara/', text: 'LinkedIn', title: 'Click to go to LinkedIn'})]
    li 
      +link({
        link: 'http://stackoverflow.com/users/story/7900990',
        text: 'Stackoverflow',
        title: 'Click to go to Stackoverflow'
      })
