.footer
  div &copy; #{data.site.copy || '2017 Daniel Varvara'}
  ul.footer-menu
    li.footer-item
      a.footer-link(href="/privacy") privacy
    li.footer-item
      a.footer-link(href="/terms") Terms
