//- we extend the content of this file with the content of the main layout
extends _layout/main

//- using block 'config' we configure and pass variables that are used in the
  title tag and meta description (or canonical link) of the HTML

block config 
  
  //- Configure the canonical url of this page. It useful only for search engines 
    SEO purposes, when you have the same content present on different urls it's
    good practice to tell the search engines which one is the original don't get 
    penalised.
    like so:
    - const canonical = 'http://quick-blog.danvars.uk'
    
    Configure the title of the page useful for SEO 
  - const title = 'Welcome to my Quick Blog'
  //- Configure the description of the page useful for SEO, which will populate
    the meta description tag
  - const description = 'Using super Quick Blog is easy and you can get 100/100 score on Google pagespeed insights'
//- We use this welcome block which will span the entire screen width and height
  and push the rest of the content down. This will be styled by inline.css,
  which is already loaded within the HTML. The content will be rendered
  instantly and available for the user to see.
block welcome
  .welcome
    h1=title
    p.lead=description
    include _component/continue/continue
    
//- the content of each page which is different will be present below in the
  block 'content'
  
block content
  h2 Lets write some content
  
  //- create a paragraph with a lead class
  
  p.lead Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
  //- create another paragraph
  
  p
    //- and inside it a small tag
    small Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
